*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 2000px;
    width: 100%;
}

.exemplo {
    position: relative;
    background-color: black;
    margin-top: 20px;
    border-radius: 6px solid;
    width: 80%;
    margin-left: 10%;
    height: 190px;
    border: 10px groove #8e02cf;
}

.titulo {
    color:  #8e02cf;
    height: 63px;
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 10px;
}

.elemento1 {
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 10px;
}   

/* Slide de Letras */
.container1 {
    position: relative;
    font-family: monospace; /*define uma fonte "monospace" para o elemento*/
    color: rgb(255, 255, 255);
    font-size: 2em;
    filter: contrast(15);   
}

.word {
    color: blanchedalmond;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: switch 8s infinite ease-in-out;
    margin: auto;
}

.word:nth-child(1) {
    animation-delay: -7s;
}
.word:nth-child(2) {
    animation-delay: -6s;
}
.word:nth-child(3) {
    animation-delay: -5s;
}

@keyframes switch {
    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    50%,
    80% {
        filter: blur(180px);
        opacity: 0;
    }

}


/* Elemento Botão 3D */
.elemento2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container2 {
    position: relative;
    height: 100%;
    perspective: 800px;
}   
.btn {
    border: none;
    position: relative;
    background: none;
    padding: 30px 80px;
    display: inline-block;
    text-transform: uppercase;   /*tipo de texto*/
    background: #cc0099;
    color: #fff;
    letter-spacing: 2px; /* aumenta o espaçamento da letra */
    font-size: 1rem;
    font-weight: 800;  /* aumenta a largura do texto */
    transform-style: preserve-3d;
    outline: none; /* contorno */
    outline: 1px solid transparent;
    transition: all 0.5s ease-out;
    cursor: pointer;    /* muda o tipo de cursor ao passar por cima */
}
.btn::after{
    content: "Button";
    position: absolute;
    padding: 30px 80px;
    z-index: -1;
    transition: all 0.5s ease-out;
    width: 146px;
    height: 23px;
    left: 0;
    top: -100%;
    background: #990073;
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
}
.btn:hover {
    transform: translateY(40px) rotateX(-90deg) ;
}


/* Elemento de Login */
#ativar {
    display: block;
    margin: 20px auto;
    margin-top: 50px;
    font-size: 20px;
    width: 100px;
    background-color: yellow;
    border-radius: 5px;
  }
  #modal h1{
    font-family: sans-serif;
    margin: 0px 0px 20px;
  }
  #modal label{
    display: block;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #modal input{
    font-family: sans-serif;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: .5rem;
    font-size: 1rem;
    background: #f7f7f7;
  }
  #modal button{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .6rem 2rem;
    border: none;
    background: yellow;
    border-radius: 5px;
  }
  #modal {
    padding: 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    max-width: 400px;
    margin: 20px auto;
    opacity: 0;
    transform: translateX(-20px);
  }
  #modal.animar {
  animation: slide .5s 1 forwards ;
  }
  
  @keyframes slide {
   to {
     opacity: 1;
     transform: translateX(20px);
   }
  }


  /* Elemento LOAD */
  .load {
    margin: 60px auto;
    height: 60px;
    width: 60px;
    border: 15px solid;
    color: yellow;
    border-radius: 50%;
    border-top-color: transparent;
    animation: anim .6s linear infinite;
  }
  
  @keyframes anim {
    to {
      transform: rotate(360deg);
    }
  }


  /* Elemento Share */
  .wrapper {
    display: block;
    margin-top: 100px;
    margin-left: 50% ;
  }
  
  .btn-1{
    width: 50px;
    height: 50px;
    border: none;
    z-index: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #share{
  position: absolute;
  
  }
  #share:hover{
    outline: 6px solid #bb93fc;
  }
  #linkedin{
  position: absolute;
  }
  #linkedin:hover{
   background-color:  #0e76a8;
  }
  #insta{
  position: absolute;
  }
  #insta:hover{
   background-image: url(https://i.pinimg.com/736x/48/4c/1f/484c1f1ebc0a194c30930bcdabddca13.jpg);
   background-size: 100px;
   background-repeat: no-repeat;
  }
  #github{
  position: absolute;
  }
  #github:hover{
  background-color: #bdc3c7;
  }
  .c-insta {
    animation: c-insta 0.5s forwards
  }
  .c-github {
    animation: c-github 1s forwards
  }
  .c-linkedin {
    animation: c-linkedin 1.55s forwards
  }
  
  @keyframes c-insta {
    to { transform: translateX(65px);
    }
  }
  @keyframes c-github {
    to { transform: translateY(-65px);
  }
  }
  @keyframes c-linkedin {
    to { transform: translateX(-65px);
  }
}
#cards {
  margin-top: 200px;
  position: relative;
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#card {
  position: relative;
  height: 370px;
  width: 250px;
  margin-top: 80px;
  margin-right: 36px;
  margin-left: 10px ;
  box-shadow: 3px 4px 5px black;
  background-color: #2d3436;
  transform: translateX(-60px);
  border-radius: 4px;
}

#conteudo {
  padding: 0;
  margin: 5px auto;
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ecf0f1;
}

#titulo {
  color: #d35400;
  
}
.cont {
  margin-bottom: 7px;
  border-radius: 4px;
}

.init-hidden{
  opacity: 0;
}
.init-hidden-off{
  animation: hidden 2s forwards;
}

@keyframes hidden {
  25% {
    transform: translateX(15px);
    opacity: .5;
  }
  50% {
    transform: translateX(15px);
    opacity: 1;
  }
  75% {
    transform: translateX(15px);
    opacity: 1;
  }
  100% {
    transform: translateX(15px);
    opacity: 1;
  }
}
.no-mov {
  opacity: 0;
}
.mov {
animation: mov 1.5s linear forwards;

}
.no-mov-t{
  opacity: 0;
  transform: translateY(-60px);
}
.mov-t {
  animation: mov-t 1s forwards;
}


@keyframes mov {
  0% {
    background-image: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png);
    background-repeat: no-repeat; 
    opacity: 1;
  }
    25% { 
    background-image: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png);
    background-repeat: no-repeat; 
    background-position: 25px; 
    opacity: 1;
  }
  50% {
    background-image: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png);
    background-repeat: no-repeat; 
    background-position: 50px; 
    opacity: 1;
  }
  75% {
    background-image: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png);
    background-repeat: no-repeat; 
    background-position: 75px;
    opacity: 1;
  }
  100% {
    background-image: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/foto-branca-download-wallpapers-e-onde-usar_o1fcm9aiph1mte1km1f11cs53mng.png);
    background-repeat: no-repeat; 
    background-position: 100px;
    opacity: 1;
  }

}
@keyframes mov-t {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 

